/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header .logo {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px 0;
}

/* Ensure the result section is centered in the page */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding-bottom: 50px;
}

.calculator-box {
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

.calculator-box h2 {
  margin-bottom: 20px;
}

.calculator-box label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
  color: #333; /* Default color */
  transition: color 0.3s ease; /* Smooth transition for color change */
}

/* Input fields */
.calculator-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease; /* Smooth transition for border */
}

/* Highlight input border when focused */
.calculator-box input:focus {
  border-color: #ff9d3d;
}

.calculator-box button {
  width: auto; /* Makes the button width fit the text */
  padding: 8px 16px; /* Reduces padding to make it smaller */
  font-size: 0.9rem; /* Smaller font size */
  font-weight: bold;
  background-color: #ff9d3d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calculator-box button:hover {
  background-color: #ff8000;
}

#calculateBtn:focus {
  outline: none; /* Removes the default focus outline */
  border-color: #333; /* Green border on focus */
  box-shadow: 0 0 5px #333; /* Adds a subtle green glow */
}

/* Centering the result box */
.result-box {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center; /* Center the text inside the result box */
}

.result-box p {
  margin: 15px 0;
  font-size: 0.9rem;
}

.result-box h3 {
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: #ff9d3d;
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.result-box,
.bold {
  font-weight: bold;
}

footer {
  background: #333;
  color: #fff;
  padding: 10px 0;
  font-size: 0.9rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Darker shadow for footer */
}
